@CHARSET "ISO-8859-1";

/* PAGE 1 STYLING*/

#section0{
	background-color: #fff;
}
.page1-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-image: url('../images/w1360/above/back-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*ENDS*/

/* PAGE 2 STYLING*/

#section1{
	background-color: #fff;
}
/*ENDS*/

/* PAGE 3 STYLING*/
#section2{
	background-color: #89d9f2;
}
.page3-overlay{
	background-image: url('../images/w1360/above/back-3.jpg');
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*ENDS*/

/* PAGE 4 STYLING*/

#section3{
	background-color: #fff;
}
.page4-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-7.jpg');
}
/*ENDS*/

/* PAGE 5 STYLING*/
#section4{
	background-color: #fff;
}
.page5-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-4.jpg');
}
/*ENDS*/

/* PAGE 6 STYLING*/
#section5{
	background-color: #fff;
}
.page6-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-5.jpg');
}
/*ENDS*/


/* PAGE 7 STYLING*/
#section6{
	background-color: #fff;
}
.page7-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-6-updated.jpg');
}
/*ENDS*/


/* PAGE 8 STYLING*/
#section7{
	background-color: #fff;
}
.page8-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-8.jpg');
}
/*ENDS*/

/* PAGE 9 STYLING*/
#section8{
	background-color: #fff;
}
.page9-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/above/back-9.jpg');
}

/*ENDS*/
/*New Styling Start Here
==============================*/
@media (max-width: 1023px) {
	.page1-overlay{
		background-position: 60% 0;
		background-image: url(../images/w1360/above/back-1-sm.jpg);
	}
	.page3-overlay{
		background-position: 44% 0;
	}
	.page4-overlay{
		background-position: 48% 0;
	}
	.page6-overlay{
		background-position: 44% 0;
	}
	.page8-overlay{
		background-position: 50% 0;
	}
	.page9-overlay{
		background-position: 20% 0;
	}
	img.full{
		display:none;
	}
	img.small{
		display:block;
	}
	
}
@media (max-width: 780px) {
	.page1-overlay{
		background-image: url(../images/w1360/above/back-1-sm2.jpg);
	}
	.page7-overlay{
		background-image: url(../images/w1360/above/back-6-sm3.png);
	}
	img.small{
		display:none;
	}
	img.smaller{
		display:block;
	}
	
}
@media (max-width: 559px) {
	
}
@media (max-width: 479px) {
	
}
@media (max-height: 415px) {
	
}

