@CHARSET "ISO-8859-1";

/* PAGE 1 STYLING*/

#section0{
	background-color: #fff;
}
.page1-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-image: url('../images/w1360/scarletoaks/back-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*ENDS*/

/* PAGE 2 STYLING*/

#section1{
	background-color: #fff;
}

.bootom-logo-1, .bootom-logo-2 {
	max-width: 270px;
}
/*ENDS*/

/* PAGE 3 STYLING*/
#section2{
	background-color: #89d9f2;
}
.page3-overlay{
	background-image: url('../images/w1360/scarletoaks/back-3.jpg');
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*ENDS*/

/* PAGE 4 STYLING*/

#section3{
	background-color: #fff;
}
.page4-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/scarletoaks/back-4.jpg');
}
/*ENDS*/

/* PAGE 5 STYLING*/
#section4{
	background-color: #fff;
}
.page5-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/scarletoaks/back-5.jpg');
}
/*ENDS*/
/* PAGE 6 STYLING*/
#section5{
	background-color: #fff;
}
.page6-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/scarletoaks/back-6.png');
}
/*ENDS*/
/* PAGE 7 STYLING*/
#section6{
	background-color: #fff;
}
.page7-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/w1360/scarletoaks/back-7.png');
}
/*ENDS*/


/*New Styling Start Here
==============================*/
@media (max-width: 1023px) {
	.page5-overlay{
		background-position: 5% 0;
	}
	.page-4-pic{
		object-position: 0;
	}
	
}
@media (max-width: 767px) {
	.bottom-image-splitted img {
		max-height: 80px;
		max-width: 100px;
	}
	.page7-overlay{
		background-position: 65% 0;
	}
	
}
@media (max-width: 559px) {
	
}
@media (max-width: 479px) {
	
}
@media (max-height: 415px) {
	
}


